{% extends 'layout.html' %}


{% block content %}
<style>
  table, th , td  {
    border:1px solid rgb(0, 3, 180);
    margin: 50px;
   text-align: center;
  }
  </style>

<table style="width:60%">
  
    <tr>
      <th>Car ID</th>
      <th>Maker</th>
      <th>Model</th>
      <th>Year</th>
      <th>Price</th>
      <th>Color</th>
    </tr>
    {%for car in allcars %}
    <tr>
      <td>{{car[0]}}</td>
      <td>{{car[1]}}</td>
      <td>{{car[2]}}</td>
      <td>{{car[3]}}</td>
      <td>{{car[4]}}</td>
      <td>{{car[5]}}</td>
    </tr>
    {% endfor %}
  </table> 
  <a href="/deletecar" class="btn-primary" style="margin: 50px;">Delete Car</a>
{% endblock %}