{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>My car web site designed by Flask</h2>
        <a href="/newcar" class="btn-primary">New Car</a>
        <a href="/about" class="btn-secondary">About me</a> 
        <a href="/carslist" class="btn-primary">Cars List</a>
      </div>

      <div class="section-device">
        <img src="static/img/s600.jpg">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}